body {
    background-color: cornflowerblue;
}



section {
    background-color: royalblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}



div {
    background-color: cornsilk;
    width: 90px;
    height: 100;
    padding: 20px;
    text-align: center;
}